{% extends 'layout/front/security.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div class="container vertical-center">
        <div class="col-sm-4 offset-4">
            <div class="card">
                <form method="post" class="form-signin">
                    <div class="text-center pt-4">
                        <h1 class="loginlogo">
                            <a href="{{ path('front_dashboard') }}"><img src="{{ asset('build/img/front/logo.svg') }}" width="" alt=""><span class="text-hide">Mon Site Assuré</span></a>
                        </h1>
                    </div>
                    <div class="card-body">
                        <h2 class="h6 mb-5 text-center">Renseigner votre email</h2>
                        <div class="px-3">
                            <div class="md-form">
                                <input type="email" name="email" id="email" class="form-control" required autofocus>
                                <label for="email" class="control-label" value="">Votre email *</label>
                            </div>
                            <div class="form-group mb-1 login-options">
                                <div class="mt-5">
                                    <span class="forgot-password">* Champs obligatoire</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('forgotten_password') }}">
                        <button type="submit" class="btn btn-primary btn-lg btn-block py-3">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
