<form method="post" action="{{ path('lesson_delete', {'id': lesson.id}) }}" onsubmit="return confirm('{{ 'base.confirm_delete'|trans }}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lesson.id) }}">
    <button class="btn btn-tableau centered btn-lg shadow-sm">{{ 'base.delete'|trans }}</button>
</form>
