.magnum {
  iframe {
    border: 0;
    height: 600px;
    width: 100% !important;
  }
}

body.magnum_callback {
  background-color: #fff !important;

  .wait_redirection {
    margin-top: 12%;
  }
}
